<div class="container">
    <div class="section">
        <div class="image">
        </div>
        <div class="content">
            <h2>hulp nodig bij het kiezen van een wijn?</h2>
            <h3>Op zoek naar een bijzondere wijn?</h3>
            <h5>Stuur uw vragen en voorkeuren en wij helpen!</h5>
            <form>
                <div class="form-group">
                    <label>Uw naam</label>
                    <input class="form-control" type="text">
                </div>
                <div class="form-group">
                    <label>Jouw email</label>
                    <input class="form-control" type="email">
                </div>
                <div class="form-group">
                    <label>Tekst bericht</label>
                    <textarea class="form-control"></textarea>
                </div>
                <button mat-raised-button type="submit">vraag om contact</button>
            </form>
        </div>
    </div>
</div>