<section class="container">
    <section class="header-image" style="background-image: url('./assets/{{headerImage}}');"></section>
    <article>
    <h2>About us</h2>
    <hr/>

    <p>In juni 2020 kwam een abrupt einde aan ons wijnwijkeltje Segredos de Portugal. Door de onverwachte ziekte en het veel te snelle 
        overlijden van mijn man Chris Mouton (54) zag ik mij genoodzaakt om onze wijnhandel stop te zetten en de stock uit te verkopen…</p>
         

    <p>Maar ondanks alles blijft Portugal een zeer speciale plek in mijn hart hebben. En ook de liefde voor Portugese wijnen – 
        en alle goede herinneringen die daaraan vast zitten – bleef sluimeren. </p>
        
         
        
    <p>Veel klanten vroegen mij de voorbije twee jaar waar ze nog zo’n goede Portugese wijnen – aan betaalbare prijzen –konden kopen.
         Met spijt in het hart moest ik hen doorverwijzen naar de supermarkten, die vaak alleen grote merken aanbieden. 
         Tot ik per toeval de Portugees Luis Filipe Mendes Babo (54) leerde kennen. 
         Filipe lijkt de geknipte man om voor te stellen aan ons vertrouwde cliënteel van Segredos de Portugal. Omdat hij er dezelfde visie
         op nahoudt als wij, en ook hij kiest voor eerlijke handel met de producenten. “Ik ken België al van kinds af”, zegt Luís Filipe. 
         “Mijn oudere zussen zijn in de jaren ’70 naar België geëmigreerd om hier te komen werken. En zo kwam het dat ik tijdens de lange 
         zomervakanties vaak wekenlang in België op vakantie kwam.” </p>
        
    <p>Luís Filipe Babo studeerde talen en werkte in Portugal in de toeristische sector. Maar omdat hij zo goed Frans sprak, 
        werd hij er op een dag op uitgestuurd om contacten te leggen in opdracht van een belangrijke retailer. 
        “En toen kwam de vraag of ik niet naar België wou gaan om er in het Brusselse een groot distributiecentrum van Portugese
         producten op te starten. Zo belandde ik in 2014 in België.” </p>
        
    <p>Maar de uitbouw van het distributiecentrum liep door een samenloop van omstandigheden niet zo goed. 
        Problemen met de toekenning van bouwvergunningen en de economische crisis deden het bedrijf beslissen om hun Belgische
         project te stoppen “Zij hadden besloten hun geld te investeren in de overname van een Portugees bedrijf. Ik kreeg onmiddellijk 
         een job aangeboden in Lissabon. Maar ik heb daar vriendelijk voor bedankt”, zegt Luís. “Want ondertussen was ik hier al een paar
          jaar, had ik de taal geleerd en woonde ik hier graag. Dus besliste ik om mijn eigen zaak te beginnen als importeur van Portugese 
          wijnen, likeuren, porto’s en olijfolie.” </p>
        
    <p>Net zoals Segredos de Portugal gaat Luís Filipe de wijnen ter plaatte kiezen en proeven, alvorens ze in zijn assortiment op te nemen.
         “Ik spits mij vooral toe op wijnen uit het noorden: de Douro en de Vinho Verde, twee streken die ik erg goed ken en waar ik veel van 
         hou”, zegt hij. “Ik wil niet alleen de wijn verkopen, maar ook een stukje de geschiedenis van de wijn, de terroir, het klimaat,
          etc… meegeven aan de klanten”, zegt hij. </p> 
        
    <p>Langzaam maar zeker bouwde hij een klantenbestand met voornamelijk Belgische klanten, zowel particulieren  als horecazaken.
         Ik geloof rotsvast dat er in de regio Gent nog veel potentieel is. Ik stond op het punt om in Gentbrugge mijn eigen winkel
          te openen, toen in 2020 de coronapandemie losbarstte… Dus dat winkeltje is er nog altijd niet, maar komt er misschien wel
           als de economische situatie wat verbetert.” </p>
        
         
        
    <p>Tot mijn grote blijdschap heeft Wijn-FB (simpelweg de afkorting van Filipe Babo) ondertussen al enkele wijnproducenten van 
        Segredos de Portugal in zijn assortiment zitten: de sprankelende espumente en andere wijnen van Chão de Portela en Rapo Lobos, 
        de Águia Moura die geserveerd werd tijdens het afscheidsdiner van Chris bij Luís Portugal, deDuas Santas tawny porto,… </p>
        
    <p>En er zijn vage plannen om ook opnieuw wijndegustaties, fadoconcerten gecombineerd met Portugese wijnen, etc te organiseren. </p>
        
         
        
    <p>Segredos de Portugal zal jammer genoeg niet opnieuw de deuren openen. Maar in het volste vertrouwen wil ik u als gewezen
         zaakvoerster van ons wijnwinkeltje wel graag voorstellen aan een waardige opvolger: http://www.wijn-fb.be </p>
        
         
        
    <p>Wij hopen in de toekomst nog veel van hem te horen. Adeus, amigos! </p>
        
    </article>

</section>
