<section>
    <section class="header-image" style="background-image: url('./assets/{{headerImage}}');"></section>
    <!--   Produtos -->
    <article *ngFor="let product of products; let i = index;">
        <div class="product-image">
            <img src="./assets/{{product.image}}" alt="imagem de {{product.name}}">
        </div>

        <div class="product">
            <div class="product-info">
                <h2>{{product.name}}</h2>
                <div class="product-info__text">
                    <p>{{product.subtitle_be}}</p>
                    <p>
                        {{product.description_be}}
                    </p>
                </div>
            </div>
            <div class="product-tecnic">
                <div class="product-tecnic-group">
                    <div class="product-tecnic-group__labels">
                        <div class="product-tecnic-group__labels">
                            <p>Netto gewicht:</p>
                            <p>Uitgelekt gewicht:</p>
                        </div>
                    </div>
                    <div class="product-tecnic-group__info">
                        <p>{{product.peso_liquido}} g</p>
                        <p>{{product.peso_escorrido}} g</p>

                    </div>
                </div>
            </div>
            <div class="shoppcart">
                <form #f="ngForm">
                    <span class="price">{{product.pricesell}} €</span>
                    <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                    <button type="button" mat-flat-button class="add-button" (click)="addToCart(f.value, product)">add
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </form>
            </div>
        </div>

    </article>
    <!--   Produtos -->
<!--     <article>
        <div class="content-product">
            <div class="product-image">
                <img src="./assets/atum-ramirez-natural-xl.jpg" alt="Lata azeite remondes fado">
            </div>
            <div class="product">
                <div class="product-info">
                    <h2>Atum Ramirez - Natural</h2>
                    <div class="product-info__text">
                        <p>Natuurlijke Tonijn - 250g</p>
                        <p>
                            250 g blik natuurlijke tonijn. Voordelige verpakking!
                        </p>
                    </div>
                </div>
                <div class="product-tecnic">
                    <div class="product-tecnic-group">
                        <div class="product-tecnic-group__labels">
                            <p>Netto gewicht:</p>
                            <p>Uitgelekt gewicht:</p>
                        </div>
                        <div class="product-tecnic-group__info">
                            <p>250 g</p>
                            <p>215 g</p>

                        </div>
                    </div>
                </div>
                <div class="shoppcart-left">
                    <form #f="ngForm">
                        <span class="price">3.95 €</span>
                        <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                        <button type="button" mat-flat-button class="add-button" (click)="addToCart(f.value)">add
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </article>
    <hr>
    <article>
        <div class="content-product">
            <div class="product">
                <div class="product-info">
                    <h2>Atum Ramirez - Natural</h2>
                    <div class="product-info__text">
                        <p>Natuurlijke Tonijn - 125g</p>
                        <p>
                            125 g blik natuurlijke tonijn. Voordelige verpakking!
                        </p>
                    </div>
                </div>
                <div class="product-tecnic">
                    <div class="product-tecnic-group">
                        <div class="product-tecnic-group__labels">
                            <p>Netto gewicht:</p>
                            <p>Uitgelekt gewicht:</p>
                        </div>
                        <div class="product-tecnic-group__info">
                            <p>125 g</p>
                            <p>112 g</p>

                        </div>
                    </div>
                </div>
                <div class="shoppcart-right">
                    <form #f="ngForm">
                        <span class="price">2.12 €</span>
                        <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                        <button type="button" mat-flat-button class="add-button" (click)="addToCart(f.value)">add
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </form>
                </div>
            </div>
            <div class="product-image">
                <img src="./assets/atum-ramirez-natural.jpg" alt="Atum ramirez natural">
            </div>
        </div>
    </article>
    <hr>
    <article>
        <div class="content-product">
            <div class="product-image">
                <img src="./assets/atum_bom_petisco_azeite_xl.png" alt="Atum bom petisco 250g">
            </div>
            <div class="product">
                <div class="product-info">
                    <h2>Atum Bom Petisco in Olijfolie</h2>
                    <div class="product-info__text">
                        <p>Tonijn in Olijfolie - 250g</p>
                        <p>
                            250 g tonijn in Olijfolie. Voordelige verpakking!
                        </p>
                    </div>
                </div>
                <div class="product-tecnic">
                    <div class="product-tecnic-group">
                        <div class="product-tecnic-group__labels">
                            <p>Netto gewicht:</p>
                            <p>Uitgelekt gewicht:</p>
                        </div>
                        <div class="product-tecnic-group__info">
                            <p>250 g</p>
                            <p>215 g</p>

                        </div>
                    </div>
                </div>
                <div class="shoppcart-left">
                    <form #f="ngForm">
                        <span class="price">4.45 €</span>
                        <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                        <button type="button" mat-flat-button class="add-button" (click)="addToCart(f.value)">add
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </article>
    <hr>
    <article>
        <div class="content-product">
            <div class="product">
                <div class="product-info">
                    <h2>Atum Bom Petisco met oregano</h2>
                    <div class="product-info__text">
                        <p>Tonijn in olijfolie met oregano - 125g</p>
                        <p>
                            125 g Tonijn in olijfolie met oregano.
                        </p>
                    </div>
                </div>
                <div class="product-tecnic">
                    <div class="product-tecnic-group">
                        <div class="product-tecnic-group__labels">
                            <p>Netto gewicht:</p>
                            <p>Uitgelekt gewicht:</p>
                        </div>
                        <div class="product-tecnic-group__info">
                            <p>125 g</p>
                            <p>112 g</p>

                        </div>
                    </div>
                </div>
                <div class="shoppcart-right">
                    <form #f="ngForm">
                        <span class="price">2.12 €</span>
                        <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                        <button type="button" mat-flat-button class="add-button" (click)="addToCart(f.value)">add
                            <mat-icon>add_shopping_cart</mat-icon>
                        </button>
                    </form>
                </div>
            </div>
            <div class="product-image">
                <img src="./assets/atum_bom_petisco_oregaos.jpg" alt="Atum ramirez natural">
            </div>
        </div>
    </article> -->
</section>
<app-other-products-teaser></app-other-products-teaser>
<app-footer></app-footer>
