<mat-nav-list class="sidenav">
  <a mat-list-item (click)="CloseSidenav()" routerLink="/wines" >
    <mat-icon>wine_bar</mat-icon> Wijnen
  </a>
  <a mat-list-item (click)="CloseSidenav()" routerLink="/oliveoil">
    <mat-icon>tapas</mat-icon> Olijfolie
  </a>
  <a mat-list-item (click)="CloseSidenav()" routerLink="/likeuren">
    <mat-icon>tapas</mat-icon> Likeuren en sterk dranken
  </a>  
  <a mat-list-item (click)="CloseSidenav()" routerLink="/bewaren">
    <mat-icon>tapas</mat-icon> Bewaren
  </a>
  <a mat-list-item (click)="CloseSidenav()" routerLink="/charcuterie">
    <mat-icon>tapas</mat-icon> Chacurterie
  </a>
  <a mat-list-item (click)="CloseSidenav()" routerLink="/shopcart">
    <mat-icon>local_grocery_store</mat-icon> Shoppcart
  </a>
  <a mat-list-item (click)="CloseSidenav()" routerLink="talk">
    <mat-icon>support_agent</mat-icon> Opmerkingen
  </a>
<!--   <mat-list-item>
    <mat-icon>logout</mat-icon>
    <button (click)="logout(); CloseSidenav()">Uitloggen</button>
  </mat-list-item> -->
</mat-nav-list>
