<section>
    <section class="header-image" style="background-image: url('./assets/{{headerImage}}');"></section>

  <!--   Produtos -->
    <article>
        <div class="content-product">
            <div class="product-image">
                <img src="./assets/azeite_remondes_1.png" alt="Lata azeite remondes fado">
            </div>
            <div class="product">
                <div class="product-info">
                    <h2>remondes - fado</h2>
                    <div class="product-info__text">
                        <p>Extra vierge olijfolie.</p>
                        <p>
                            Product van Portugal van superieure categorie verkregen uit verse en
                            gezonde olijven door koude mechanische precessen.
                        </p>
                    </div>
                </div>
                <div class="product-tecnic">
                    <h3>Data papier</h3>
                    <div class="product-tecnic-group">
                        <div class="product-tecnic-group__labels">
                            <p>zuurgraad:</p>
                            <p>inpakken:</p>
                            <p>peroxide-index:</p>
                            <p>wassen:</p>
                            <p>energie:</p>
                        </div>
                        <div class="product-tecnic-group__info">
                            <p>&le; 0.5 %</p>
                            <p>0.5L</p>
                            <p>(megO2/Kg) &lt; 15</p>
                            <p>&lt; 150mg/Kg</p>
                            <p>3378KJ / 822 Kcal</p>
                        </div>
                    </div>
                </div>
                <div class="shoppcart-left">
                    <form #f="ngForm">
                        <span class="price">2.99 €</span>
                        <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                        <button type="button" mat-flat-button class="add-button" (click)="addToCart(f.value)">add <mat-icon>add_shopping_cart</mat-icon></button>
                    </form>
                </div>
            </div>
        </div>
    </article>
<hr>
    <article>
        <div class="content-product">
            <div class="product">
                <div class="product-info">
                    <h2>Águia Moura</h2>
                    <div class="product-info__text">
                        <p>Extra vierge olijfolie.</p>
                        <p>
                            Product van Portugal van superieure categorie verkregen uit verse en
                            gezonde olijven door koude mechanische precessen.
                        </p>
                    </div>
                </div>
                <div class="product-tecnic">
                    <h3>Data papier</h3>
                    <div class="product-tecnic-group">
                        <div class="product-tecnic-group__labels">
                            <p>zuurgraad:</p>
                            <p>inpakken:</p>
                            <p>peroxide-index:</p>
                            <p>wassen:</p>
                            <p>energie:</p>
                        </div>
                        <div class="product-tecnic-group__info">
                            <p>&le; 0.5 %</p>
                            <p>0.5L</p>
                            <p>(megO2/Kg) &lt; 15</p>
                            <p>&lt; 150mg/Kg</p>
                            <p>3378KJ / 822 Kcal</p>
                        </div>
                    </div>
                </div>
                <div class="shoppcart-right">
                    <form #f="ngForm">
                        <span class="price">4.99 €</span>
                        <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                        <button type="button" mat-flat-button class="add-button" (click)="addToCart(f.value)">add <mat-icon>add_shopping_cart</mat-icon></button>
                    </form>
                </div>
            </div>
            <div class="product-image">
                <img src="./assets/azeite_aguia_moura.png" alt="Aguia moura">
            </div>
        </div>
    </article>
    <hr>
    <article>
        <div class="content-product">
            <div class="product-image">
                <img src="./assets/azeite_remondes_1.png" alt="Lata azeite remondes fado">
            </div>
            <div class="product">
                <div class="product-info">
                    <h2>remondes - fado</h2>
                    <div class="product-info__text">
                        <p>Extra vierge olijfolie.</p>
                        <p>
                            Product van Portugal van superieure categorie verkregen uit verse en
                            gezonde olijven door koude mechanische precessen.
                        </p>
                    </div>
                </div>
                <div class="product-tecnic">
                    <h3>Data papier</h3>
                    <div class="product-tecnic-group">
                        <div class="product-tecnic-group__labels">
                            <p>zuurgraad:</p>
                            <p>inpakken:</p>
                            <p>peroxide-index:</p>
                            <p>wassen:</p>
                            <p>energie:</p>
                        </div>
                        <div class="product-tecnic-group__info">
                            <p>&le; 0.5 %</p>
                            <p>0.5L</p>
                            <p>(megO2/Kg) &lt; 15</p>
                            <p>&lt; 150mg/Kg</p>
                            <p>3378KJ / 822 Kcal</p>
                        </div>
                    </div>
                </div>
                <div class="shoppcart-left">
                    <form #f="ngForm">
                        <span class="price">3.99 €</span>
                        <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                        <button type="button" mat-flat-button class="add-button" (click)="addToCart(f.value)">add <mat-icon>add_shopping_cart</mat-icon></button>
                    </form>
                </div>
            </div>
        </div>
    </article>
</section>
<app-other-products-teaser></app-other-products-teaser>
<app-footer></app-footer>