<div class="container">
    <app-wine-card 
        *ngFor="let wine of winesListSelection; let i = index;" 
        [wine]="wine" [selected]="true" class="wine-card" 
        (selectWine)="showDetail(wine)" 
        (addedToCart)="openSnackBar($event, 'Shopping Cart')"
        (toggleToFavorit)="toggleToFavorits($event)">
    </app-wine-card>
    <app-wine-card 
        *ngFor="let wine of winesList; let i = index;" 
        [wine]="wine"  [selected]="false" class="wine-card" 
        (selectWine)="showDetail(wine)"
        (addedToCart)="openSnackBar($event, 'Shopping Cart')"
        (toggleToFavorit)="toggleToFavorits($event)">
    </app-wine-card>

</div>

