mat-toolbar{
  height: 375px;
  /* background-image: url("./../../../assets/douro2.jpg"); */
  background-size: cover;
  background-position: center;

  mat-toolbar-row{
    width: 90%;
    margin: auto;
    height: 80px;
    margin-top: 20px;
  }

  .logo{
    width: 60px;
    display: flex;
    justify-content: space-between;

    &-image{
      /* width: 60px; */
      height: 60px;
    }
    hr{
      width: 100%;
 /*      background: white;
      height: 1.2px; */
    }

    &-title{
      color: white;
      width: 12.0rem;
      display: flex;
      flex-direction: column;

      &__top{
        font-size: 1.4rem;
        font-weight: 900;
        letter-spacing: 1rem;
        margin-bottom: -1.9rem;
        text-align: right;
      }
      &__bottom{
        margin-top: -2.1rem;
        font-size: 0.6rem;
        font-weight: 200;
      }
    }


  }

  .spacer{
    flex: 1;
  }


  .menu {
    color: rgba(255, 255, 255, 0.749);
    font-size: 1.2rem;
    ul{
      /* display: inline; */

      li{
        list-style: none;
      }
    }


  }




  .flag{
    height: 1.7rem;
  }

} 

.header-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h1{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: -5px;
    margin-top: -12rem;
  }
  h2{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: 3rem;
    margin-top: 2.5rem;

  }
}

a, a:visited, a:link{
  text-decoration: none;
  color: white;
}

.mat-button{
  background-color: rgba(245, 245, 245, 0);
}

.mat-button:hover{
  background-color: rgba(245, 245, 245, 0.336);
}


.shopcart{
  position: relative;
  height: 1.5rem;
  width: 1.5rem;

  &-icon{
    height: 1.5rem;
    width: 1.5rem;
  }
  &-load{
    position: absolute;
    top: -7px;
    right: -11px;
    color: white;
    font-size: 10px;
    border-radius: 100px;
    background-color: #86303b;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media only screen and (max-width: 600px) {
  mat-toolbar{
    height: 20vh;
  }
  .mat-icon{
    height: 4rem;
    width: 4rem;
    font-size: 4rem !important;
}

  .header-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  
    h1{
      font-family: Montserrat, sans-serif;
      font-weight: 400;
      font-size: 2.6rem;
      letter-spacing: -1.5px;
      margin-top: -2rem;
    }
    h2{
      font-family: Montserrat, sans-serif;
      font-weight: 300;
      font-size: 1.5rem;
      margin-top: -0.5rem;
  
    }
  }
}
