mat-toolbar {
  height: 90px;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgb(255, 255, 255);

  mat-toolbar-row {
    width: 100%;
    padding-left: 5%;
    margin: auto 5px;
  }

  #mainNavbar{
    position: sticky !important;
    top: 0 !important;
  }

  .logo {
    width: 60px;
    display: flex;
    justify-content: space-between;

    &-image {
      width: 10rem;
    }
    hr {
      width: 100%;
    }

    &-title {
      color: rgb(0, 0, 0);
      width: 20rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      &__top {
        font-size: 3rem;
        font-weight: 900;
        letter-spacing: 1rem;
        margin-bottom: -1.1rem;
        margin-top: 1.5rem;
        text-align: right;
      }
      &__bottom {
        margin-top: -1.8rem !important;
        font-size: 1.6rem;
        font-weight: 200;
      }
    }
  }

  .spacer {
    flex: 1;
  }

  .desktop-menu {
    width: 74rem;
    color: #86303baa;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;

    .menu-ul{
      width: 72rem;
      margin-top: 0;
      margin-bottom: -.2rem;
      align-items: flex-end;
      padding-left: 0;
    }
    .icons-ul{
      width: 20rem;
      margin-bottom: 0;
    }
    
    ul {
      display: flex;
      justify-content: space-evenly;

      li {
        list-style: none;

        span{
          text-transform: uppercase;
        }
      }
    }
  }

  .mobile-menu{
    display: none;
  }

  .flag {
    height: 1.7rem;
    cursor: pointer;
    &-disabled{
      opacity: .5;
      cursor: default;
    }
  }

}


a,
a:visited,
a:link {
  text-decoration: none;
  color: rgb(63, 62, 62);
}

.mat-button {
  background-color: rgb(255, 255, 255);
}

.mat-button:hover {
  background-color: rgb(255, 255, 255) !important;
  font-weight: 600;
  border-radius: 0;
  border-bottom: 1px #b35252 solid;
  margin-top: -.1rem;
  
}

.shopcart {
  position: relative;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 2rem;

  &-icon {
    height: 1.5rem;
    width: 1.5rem;
  }
  &-load {
    position: absolute;
    top: -7px;
    right: -11px;
    color: white;
    font-size: 10px;
    border-radius: 100px;
    background-color: #86303b;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




@media only screen and (max-width: 1023px) {
  mat-toolbar {
    height: 65px;
    margin-top: 0;
  }

  .menu {
    height: 4rem;
    width: 4rem;
    font-size: 4rem !important;
    color: #000000aa !important;
  }

  .desktop-menu{
    display: none !important;
  }

  .mobile-menu{
    display: flex !important;
    width: 12rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
  }

  .shopcart {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
  
    &-icon {
      height: 1.5rem;
      width: 1.5rem;
    }
    &-load {
      position: absolute;
      top: -7px;
      right: -9px;
      color: white;
      font-size: 10px;
      border-radius: 100px;
      background-color: #86303b;
      width: 15px;
      height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .logo {
    width: 12rem !important;
    &-image {
      width: 5.9rem !important;
      height: 5rem !important;
    }

    &-title {
      &__top {
        font-size: 1.8rem !important;
        font-weight: 500 !important;
        margin-top: 0.5rem !important;
        margin-bottom: -1.8rem !important;
      }
      &__bottom {
        font-size: 1.1rem !important;
      }
    }
  }

}
