<div class="container">
    <h2>zie ook andere producten uit Portugal</h2>

    <div class="container-content">

        <div class="block-teaser">
            <a routerLink="/oliveoil">
                <div class="block-teaser__image">
                    <img src="./assets/azeite.png" alt="azeites">
                </div>
                <h3 class="label">olijfolie</h3>
            </a>
        </div>

        <div class="block-teaser">
            <a routerLink="/likeuren">
                <div class="block-teaser__image">
                    <img src="./assets/aguardentes.png" alt="aguardentes">
                </div>
                <h3 class="label">likeuren en sterke dranken</h3>
            </a>
        </div>

        <div class="block-teaser">
            <a routerLink="/bewaren">
                <div class="block-teaser__image">
                    <img src="./assets/conservas.png" alt="conservas">
                </div>
                <h3 class="label">bewaren</h3>
            </a>
        </div>

        <div class="block-teaser">
            <a routerLink="/charcuterie">
                <div class="block-teaser__image">
                    <img src="./assets/enchidos.png" alt="enchidos">
                </div>
                <h3 class="label">charcuterie</h3>
            </a>
        </div>

    </div>
</div>