<div class="container">
    <h2 *ngIf="selectedLanguage=='NL'">zie ook andere producten uit Portugal</h2>
    <h2 *ngIf="selectedLanguage=='PT'">outros produtos de Portugal</h2>

    <div class="container-content">

        <div class="block-teaser">
            <a routerLink="/oliveoil">
                <div class="block-teaser__image">
                    <img src="./assets/azeite.png" alt="azeites">
                </div>
                <h3 class="label" *ngIf="selectedLanguage=='NL'">olijfolie</h3>
                <h3 class="label" *ngIf="selectedLanguage=='PT'">azeites</h3>
            </a>
        </div>

        <div class="block-teaser">
            <a routerLink="/likeuren">
                <div class="block-teaser__image">
                    <img src="./assets/aguardentes.png" alt="aguardentes">
                </div>
                <h3 class="label" *ngIf="selectedLanguage=='NL'">likeuren en sterke dranken</h3>
                <h3 class="label" *ngIf="selectedLanguage=='PT'">licores e aguardentes</h3>
            </a>
        </div>

        <div class="block-teaser">
            <a routerLink="/bewaren">
                <div class="block-teaser__image">
                    <img src="./assets/conservas.png" alt="conservas">
                </div>
                <h3 class="label" *ngIf="selectedLanguage=='NL'">bewaren</h3>
                <h3 class="label" *ngIf="selectedLanguage=='PT'">conservas</h3>
            </a>
        </div>

        <div class="block-teaser">
            <a routerLink="/charcuterie">
                <div class="block-teaser__image">
                    <img src="./assets/enchidos.png" alt="enchidos">
                </div>
                <h3 class="label" *ngIf="selectedLanguage=='NL'">charcuterie</h3>
                <h3 class="label" *ngIf="selectedLanguage=='PT'">enchidos e fumados</h3>
            </a>
        </div>

    </div>
</div>