/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    font-size: 10px; 
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
 }


 .header-image{
    width: 100%;
    height: 525px;
    background-size: cover;
    background-position: center;
    margin-top: 66px;
}


.stroked{
    text-decoration:line-through;
}


@media (max-width: 1024px){
    .header-image{
        height: 425px;
    }
}

@media (max-width: 768px){
    .header-image{
        height: 370px;
    }
}

@media (max-width: 425px){
    .header-image{
        height: 300px;
    }
}