<div class="container">
    <section class="header-image" style="background-image: url('./assets/{{headerImage}}');"></section>
<!--     <div class="slide-show">
        <app-slide-show class="slide-show_carousel"></app-slide-show>
    </div> -->
    <div class="list-menu">
        <app-selection-menu></app-selection-menu>
    </div>
    <div class="wines-list">
        <app-wine-list></app-wine-list>
    </div>
    <div class="suport">
        <app-support></app-support>
    </div>
    <div class="outros-produtos">
        <app-other-products-teaser></app-other-products-teaser>
    </div>
    <div class="footer">
        <app-footer></app-footer>
    </div>
</div>
