@import '~@angular/material/theming';
.mat-card{
    width: 27.6rem;
    height: 33.0rem;
    padding: 0;
    color:  #86303B;
}

.card-selected{
   /*  background-color: rgba(217, 224, 209, 0.712); */
    @include mat-elevation(8);
}

::ng-deep{
    .mat-card-header-text {
        margin: 0 16px;
        width: 100%;
    }
}


.mat-card-header{
    
    width: 100%;
    height: 25%;
    min-height: 7rem;
    border-radius: 4px;
    padding-top: 5px;



    .mat-card-title{
        font-size: 1.6rem;
 /*        display: flex;
        justify-content: space-between; */
        .mat-icon{
            margin-right: 1.6rem;
        }
    }
    .mat-card-subtitle{
        font-size: 12px;
        color: #86303B;
    }


}
.image{
    margin-top: 10px;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    span{
        font-size: 1rem;
        text-transform: uppercase;
        color: #86303B;
        margin-top: -0.6rem;
    }
}
.mat-card-image{
    height: 90%;
    width: auto;
}

.mat-card-footer{
    height: 40px;
    margin: 0 2rem;
    display: flex;
    justify-content: space-between;
    .price{
        font-weight: 500;
    }
    .mat-icon:hover{
        cursor: pointer;
        font-size: 26px;
    }
}

/* change icon color  */
.glass-white{
    color:burlywood;
}
.glass-rose{
    color: #e999a4;
}
.glass-red{
    color: #86303B;
}

@media only screen and (max-width: 1024px){
    .mat-card{
        width: 20.5rem;
        height: 22.95rem;
    }
    .image{
        height: 50%;
    }
    .mat-card-image{
        height: 80%;
    }
}


@media only screen and (max-width: 600px){
    .mat-card{
        width: 14.5rem;
        height: 21rem;
    }

    .mat-card-header .mat-card-title{
        font-size: 1.2rem;
        margin-bottom: -.2rem;
    }

    .mat-card-header .mat-card-subtitle{
        font-size: 0.8rem;
    }

    .image{
        height: 45%;
    }
    .mat-card-image{
        height: 90%;
    }


}