<mat-card [class]="selected ? 'card-selected' : ''">
    <mat-card-header (click)="onSelect()">
        <mat-card-title>
            <mat-icon [class]="wine.winetype=='Branco' ? 'glass-white' :
                     wine.winetype=='Rosé' ? 'glass-rose' :
                     wine.winetype=='Espumante' ? 'glass-champagne' : 'glass-red'">wine_bar
            </mat-icon>
            <span>{{wine.name}}</span>
        </mat-card-title>
        <mat-card-subtitle>{{wine.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <div class="image" (click)="onSelect()">
        <img mat-card-image src="./assets/{{wine.photobottle}}">
        <span>{{wine.region}}</span>

        <app-tag *ngIf="selectedLanguage=='PT' && wine.status" [tag]="wine.status" [tagColor]="wine.tag_color">
        </app-tag>
        <app-tag *ngIf="selectedLanguage=='NL' && wine.status_be" [tag]="wine.status_be" [tagColor]="wine.tag_color">
        </app-tag>

    </div>

    <mat-card-footer>
        <div class="price-box">
            <app-promo-price *ngIf="wine.price_promo>0" [promoPrice]="wine.price_promo"></app-promo-price>
            <div class="price" [class]="wine.price_promo>0? 'stroked': ''">{{wine.pricesell}}€</div>
        </div>

        <mat-icon *ngIf="!(wine.tag_type==0)" color="primary" (click)="addToCart()">add_shopping_cart</mat-icon>
        <div class="favorite" (click)="toggleFavorit()">
            <mat-icon *ngIf="!wine.favorit">favorite_border</mat-icon>
            <mat-icon *ngIf="wine.favorit">favorite</mat-icon>

        </div>

    </mat-card-footer>
</mat-card>