<div mat-dialog-title>
    <div class="title">
        {{data.name}}
        <mat-icon class="close-x" (click)="onNoClick()">close</mat-icon>
    </div>
    
    <div class="subtitle">
        <mat-icon *ngIf="data.favorit" class="favorite">favorite</mat-icon>
        {{data.subtitle}}
    </div>
    <!-- <app-tag [tag]="data.status"></app-tag> -->
</div>
<hr>
<div mat-dialog-content class="content">
    
    <div class="image">
        <img src="./assets/{{data.photobottle}}">

        <app-tag *ngIf="selectedLanguage=='PT' && data.status" [tag]="data.status" [tagColor]="data.tag_color"></app-tag>
        <app-tag *ngIf="selectedLanguage=='NL' && data.status_be" [tag]="data.status_be" [tagColor]="data.tag_color"></app-tag>
    </div>
    <div class="details">
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Jaar:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Ano:</div>
            <div class="info">{{data.year}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Soort wijn:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Tipo de vinho:</div>
            <div class="info" *ngIf="selectedLanguage=='NL'">{{data.winetype_be}}</div>
            <div class="info" *ngIf="selectedLanguage=='PT'">{{data.winetype}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Regio:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Região:</div>
            <div class="info">{{data.region}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Wijndruiven:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Castas:</div>
            <div class="info">{{data.grapescoll}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Bodem:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Solo:</div>
            <div class="info" *ngIf="selectedLanguage=='NL'">{{data.soil_be}}</div>
            <div class="info" *ngIf="selectedLanguage=='PT'">{{data.soil}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Proefnotities:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Notas de prova:</div>
            <div class="info" *ngIf="selectedLanguage=='NL'">{{data.tasting_be}}</div>
            <div class="info" *ngIf="selectedLanguage=='PT'">{{data.tasting}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Alcoholgehalte:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Alcool:</div>
            <div class="info">{{data.alcohol}}% vol.</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Service:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Serviço:</div>
            <div class="info" *ngIf="selectedLanguage=='NL'">{{data?.service_be}}</div>
            <div class="info" *ngIf="selectedLanguage=='PT'">{{data?.service}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Wijnmaker:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Enologista:</div>
            <div class="info">{{data.oenologiste}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Producent:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Produtor:</div>
            <div class="info">{{data.producer}}</div>
        </div>
        <div class="line">
            <div class="label" *ngIf="selectedLanguage=='NL'">Verpakking:</div>
            <div class="label" *ngIf="selectedLanguage=='PT'">Embalagem:</div>
            <div class="info">{{data.packing}}</div>
        </div>
        
    </div>

</div>
<hr>
<div mat-dialog-actions>

    <div class="prices-info">
        <app-promo-price *ngIf="data.price_promo > 0" [promoPrice]="data.price_promo"></app-promo-price>
        <span [class]="data.price_promo>0? 'stroked': ''">{{data.pricesell}}€</span>
    </div>

    <div class="bottom-line">
        <button mat-stroked-button color="primary" (click)="onNoClick()">Cancel</button>
        <div class="bottom-line__right">
            <form #f="ngForm">
                <input class="qty" type="number" min="0" name="qty" [ngModel]="qty">
                <button type="button" mat-flat-button class="add-button" [disabled]="data.tag_type==0"
                        (click)="addToCart(f.value)">add <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </form>
        </div>
    </div>
   

   
</div>