.mat-dialog-title {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 3.4rem;
        line-height: 3.6rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        letter-spacing: -1px;
    }
    .close-x{
        position: absolute;
        right: 2rem;
        font-size: 3.5rem;
        font-weight: 300;
        cursor: pointer;
    }
    .subtitle {
        font-size: 2rem;
        font-weight: 400;

        .favorite{
            color: #86303b;
            font-size: 2rem;
        }
    }
}
.content {
    display: flex;

    .image {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;

        img {
            max-height: 500px;
            height: auto;
            margin: auto;
        }
    }

    .details {
        width: 60%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .line {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 2rem;

            .label {
                flex: 1;
                font-weight: 700;
                text-align: end;
            }
            .info {
                flex: 2;
                margin-left: 1rem;
                text-align: start;
            }
        }
    }
}

.mat-dialog-actions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .prices-info {
        font-size: 2rem;
        font-weight: 600;
        color: #86303b;
    }

    .bottom-line {
        width: 100%;
        display: flex;
        flex-direction: row;

        &__button{
            flex: 1;
            text-align: end;
        }

        &__right {
            flex: 1;
            text-align: end;
            .qty {
                width: 3rem;
                margin-right: 1rem;
            }

            .add-button {
                min-width: auto; 
                line-height: normal; 
                padding: 2px;
                background-color: #86303b;
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .mat-dialog-title {
        .title {
            font-size: 2.2rem;
            font-weight: 500;
            width: 75%;
        }
        .subtitle{
            font-size: 1.8rem;
        }
    }
    .content {
        width: 500px;
        display: flex;
        flex-direction: column;

        .image {
            width: 100%;
            display: flex;
            justify-content: center;
            align-content: center;

            img {
                width: 80%;
                height: auto;
                margin: auto;
            }
        }

        .details {
            width: 500px;
            margin: auto;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            .line {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 2rem;

                .label {
                    flex: 1;
                    font-weight: 700;
                    text-align: end;
                }
                .info {
                    flex: 2;
                    margin-left: 1rem;
                    text-align: start;
                }
            }
        }
    }
}


@media only screen and (max-width: 425px) {


    .mat-dialog-title {
        .title {
            font-size: 2.2rem;
            font-weight: 500;
            width: 75%;
        }
        .subtitle{
            font-size: 1.8rem;
        }
    }

    .content {
        width: 240px !important;
        display: flex;
        flex-direction: column;
        margin: 1px 0px !important;
        padding: 0 10px !important;

        .image {
            width: 250px;
            max-width: 250px;
            margin: auto;

            img {
                width: 250px !important;
                height: auto;
            }
        }

        .details {
            width: 236px !important; 
            margin: auto;
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            .line {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 2rem;

                .label {
                    flex: 1;
                    font-weight: 700;
                    text-align: end;
                }
                .info {
                    flex: 2;
                    margin-left: 1rem;
                    text-align: start;
                }
            }
        }
    }
}

@media only screen and (max-width: 320px) {

        .image {
            width: 200px !important;
            max-width: 200px !important;
            margin: auto;

            img {
                max-width: 200px !important;
                height: auto;
            }
        }

}
