.container{
    width: 100%;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;

    background-color: #6D8477;
    color: white;
    &-content{
        width: 86%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;

        h2{
            text-transform: uppercase;
            font-size: 2rem;
            color: white;
        }

        .blocks{
            min-width: 28rem;
            padding-bottom: 3rem;
            flex: 1;
            
            h2{
                text-align: center;
                font-size: 2rem;
                font-weight: 300;
            }

            img{
                height: 12rem;
            }

            .info{
                display: flex;
                justify-content: space-evenly;

                h4{
                    font-size: 1.2rem;
                    margin-bottom: 0;
                }
            }

            form{
                display: flex;
                flex-direction: column;
                align-items: center;

                .form-group{
                    color: white;
                    width: 80%;
                    display: flex;
                    flex-direction: column;

                    label{
                        font-size: 1rem;
                    }
                    input, textarea{
                        border-radius: 4px;
                        border: blanchedalmond thin solid;
                    }

                }

                .mat-raised-button{
                    margin-top: 2rem;
                    color: whitesmoke;
                    background-color: #812547;
                    text-transform: uppercase;
                }
            }

            .maps{
                display: flex;
                flex-direction: column;
                align-items: center;

                img{
                    width: 80%;
                    height: auto;
                    border-radius: 4px;
                }
            }

            .social{
                display: flex;
                justify-content: space-evenly;

                &-img{
                    width: 5rem;
                    height: auto;
                    border-radius: 55px;
                }
            }

            hr{
                margin-top: 4rem;
                margin-bottom: 4rem;
                width: 80%;

            }
            .comments{
                width: 80%;
                margin: auto;
                .comment{
                        margin-top: 3rem;
                }


            }
        
        
        
        }


        .blocks:not(:last-child){
            margin-right: 2rem;
        }
        
    }
}

::ng-deep{
    .mat-form-field-appearance-outline .mat-form-field-label{
        color: whitesmoke;
    }


}