<div class="container">
    <div class="container-content">
        <div class="blocks">
            <h2>contacten</h2>
            <div class="info">
                <img src="./assets/foto_luis.png" alt="Photo Filipe Babo">
                <div class="info-contacts">
                    <h4>Luis Filipe Babo</h4>
                    <h4>+011 929292929</h4>
                    <h4>+011 929292929</h4>
                    <h4>geral@wijn-fb.be</h4>
                </div>
            </div>
            <div class="contact-form">
                <form>
                    <div class="form-group">
                        <label>Uw naam</label>
                        <input class="form-control" type="text">
                    </div>
                    <div class="form-group">
                        <label>Jouw telefoon</label>
                        <input class="form-control" type="tel">
                    </div>
                    <div class="form-group">
                        <label>Jouw email</label>
                        <input class="form-control" type="email">
                    </div>
                    <div class="form-group">
                        <label>tekst bericht</label>
                        <textarea class="form-control"></textarea>
                    </div>
                    <button mat-raised-button type="submit">vraag om contact</button>
                </form>
            </div>
        </div>
        <div class="blocks">
            <h2>waar zijn we</h2>
            <div class="maps">
                <img src="./assets/map.png">
                <p>Rua do local xpto</p>
                <p>GENT</p>
            </div>

        </div>
        <div class="blocks">
            <h2>sociale netwerken</h2>
            <div class="social">
                <img class="social-img" src="./assets/facebook.png">
                <img class="social-img" src="./assets/whatsaap.png">
                <img class="social-img" src="./assets/instagram.png">
            </div>
            <hr>
            <div class="comments">
                <div class="comment">
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         vel quam voluptate quia consequuntur unde. Nesciunt"</p>
                    <em>Jonh Doe</em>
                </div>
                <div class="comment">
                    <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                         vel quam "</p>
                    <em>Jane Doe</em>
                </div>
            </div>

        </div>
    </div>
</div>